body {
  color: #333;
  font-size: 14px;
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir, 'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
h1, h2, h3, h4, h5, h6 {
  color: #000;
}
h2 {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
h5 {
  margin: 15px 0;
  font-size: 14px;
  color: #f14e32;
}